*{
	margin: 0;
	padding: 0;
}

.wrap{
	width: 100%;
	height: 100%;
}

.top {
	width: 100%;
	height: 40px;
	background: #017eb6;
}
.closed{
	width: 50px;
	float: right;
	margin-top: 8px;
}
.closed img {
	width: 40%;
}
.body {
	width: 100%;
	height: 100%;
}
.main-menu {
	width: 250px;
	height: 100vh;
	background: #0187d0;
	position: absolute;
	top: 0px;
	z-index: 999;
	left : -250px;
}
.foto {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.foto img {
	width: 80px;
	border-radius: 100%;
}
.foto .blockFoto{
	padding-top: 55px;
}
.foto p {
	color: #fff;
	font-family: tahoma;
	font-size: 80%;
	padding-top: 10px;
}
.blockMenu {
	margin-top: 50px;
}

.direction{
	width: 25px;
	height: 100vh;
	position: absolute;
	color: #fff;
	font-weight: bold;
	background: gray;
	top: 0px;
	left: 250px;
	text-align: center;
	line-height: 100vh;
	cursor: pointer;
	
}
.direction img,
.direction2 img{
	width: 90%;
}


.direction2{
	width: 25px;
	height: 100vh;
	position: absolute;
	color: #fff;
	font-weight: bold;
	background: #0187d0;
	top: 0px;
	left: 250px;
	text-align: center;
	line-height: 100vh;
	cursor: pointer;
	display: none;
	
}
ul {
	text-align: center;
}
ul li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-family: tahoma;
	font-size: 15px;
	cursor: pointer;
	border-left: 4px solid #0187d0;

}
ul li:hover{
	background: #02a8f3;
	border-left: 4px solid #fe9700;
}
.news {
	width: 100%;
	background: #b9b9b9;
	z-index: 1;
	height: calc(100vh - 40px);
}
.headNews {
	display: flex;
	flex-wrap: wrap;
}
.doings {
	width: 100%;
	height: calc(100vh - 50px);
	display: none;
}
.col1{
	width: 50%;
	background: #b9b9b9;
	float: left;
	height: calc(100vh - 90px);
}
.col2{
	width: 50%;
	background: #bfbfbf;
	float: left;
	height: calc(100vh - 90px);
}
.head1,
.head2 {
	width: 50%;
	height: 50px;
	color: #575757;
	background: #b9b9b9;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	font-family: Tahoma;
	text-transform: uppercase;

}
.but1,
.but2,
#nexFile{
	margin-left: 55px;
	margin-top: 40px;
	width: 200px;
	height: 40px;
	font-size: 15px;
	font-family: tahoma;
	background: #b2e4fb;
	border-top: 1px solid #b2e4fb;
	border-left: 1px solid #b2e4fb;
	border-right: 1px solid #b2e4fb;
	border-bottom: none;
	z-index: 1;
	cursor: pointer;
	color: #fff;
	outline: none;

}
.forma{
	width: 94%;
	height: calc(100vh - 132px);
	border: 1px solid #b2e4fb;
	margin-left: 55px;
	z-index: 0;
	margin-top:-1px;
	display: flex;
}
.table{
	width: 94%;
	height: calc(100vh - 132px);
	border: 1px solid #b2e4fb;
	margin-left: 55px;
	z-index: 0;
	margin-top:-1px;
	display: none;
}
.active {
	background: #fff;
	color: #0187d0;
}

form{
	margin-top: 40px;
	margin-left: 50px;
	width: 60%;
}
select {
	width: 450px;
	height: 40px;
	border: 1px solid #b2e4fb;
	background: #fff;
	font-family: tahoma;
	color: #999999;
	padding-left: 15px;
	border-radius: 5px;
	outline: none;
}
.sel2{
	margin-top: 30px;
	margin-bottom: 40px;
}
textarea{
	width: 437px;
	height: 80px;
	border: 1px solid #b2e4fb;
	background: #fff;
	font-family: tahoma;
	color: #999999;
	padding-left: 10px;
	padding-top: 10px;
	border-radius: 5px;
	outline: none;
}
label {
	margin-left: 15px;
	color: #b2e4fb;
	font-size: 14px;
	font-family: tahoma;
	 position: absolute;
    top: 285px;
    left: 105px;
}
#upload{
	display: none;
}

.nameFile {
	width: 250px;
	height: 30px;
	color: #999999;
	font-family: tahoma;
	border: 1px solid #99cc66;
	border-radius: 5px;
	outline: none;
	margin-top: 30px;
	padding-left: 10px;
}

#nexFile {
	width: 100px;
	height: 30px;
	color: #fff;
	background: #b2e4fb;
	font-family: tahoma;
	padding: 8px 15px;
	border-radius: 5px;
}
.submit {
	margin-top: 50px;
	width: 150px;
	height: 30px;
	color: #fff;
	background: #0187d0;
	font-family: tahoma;
	cursor: pointer;
	border-radius: 5px;
	outline: none;
	border: none;
	font-size: 15px;

}
.oborot{
	z-index: 0;
}
table {
	width: 70%;
	font-family: tahoma;
	border-collapse: collapse;
}
thead{
	width: 100%;
	height: 30px;
}
th{
	width: 25%;
	height: 100%;
	border: 1px solid #000;
	color: #fff;
	font-weight: bold;
	background: #000;
	


}
tbody>tr {
	width: 100%;
	height: 30px;
}
tbody td {
	width: 25%;
	height: 30px;
	border: 1px solid #000;
	text-align: center;
	font-size: 15px;
}

.col1-1,
.col2-2{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;

}
.filterGroup {
	cursor: pointer;
}
.filterGroup img {
	width: 16px;
	margin-right: -3%;
	position: absolute;
	margin-left: 2%;
	margin-top: 2px;
}
@media screen and (max-width: 992px) {
	.forma {
		width: 90%;
	}
	form {
		width: 75%;
	}
}

@media screen and (max-width: 768px){
	.head1, .head2 {
		font-size: 18px;
	}
	.col1-1{
		margin-left: 15%;
	}
}
@media screen and (max-width: 670px){
	select {
		width: 350px;
	}
	textarea {
		width: 337px;
	}
	.nameFile {
		width: 180px;
	}
	#nexFile {
		font-size: 13px;
		margin-left: 38px;
	}
}
@media screen and (max-width: 550px){
	.but2{
		margin-left: 0;
	}
	.forma {
		width: 80%;
	}
	#nexFile {
		margin-left: 28px;
		margin-top: 30px;
		position: absolute;
		padding: 5px 10px;
		height: 20px;
	}
	form{
		margin-left: 30px;
	}
}

@media screen and (max-width: 500px){
	.head1 {
		order: 1;
		width: 100%;
	}
	.head2{
		order: 3;
		width: 100%;
	}
	.col2 {
		order: 4;
		width: 100%;
	}
	.col1 {
		order: 2;
		width: 100%;
	}
	select {
		width: 100%;
	}
	textarea {
		width: 96%;
	}
	.nameFile{
		display: none;
	}
	#nexFile{
		margin-left: 0px;
		margin-top: 20px;
	}
	.but1, .but2{
		width: 150px;
		font-size: 13px;
	}
	.submit {
		margin-top: 80px;
	}
	table{
		width: 80%;
	}
	tbody td,
	thead th{
		font-size: 11px;
	}


}
@media screen and (max-width: 380px){
	.but1, .but2{
		width: 120px;
		font-size: 12px;
	}
}

